$background-colors: indigo, blue, red, white;
$background-colors-bottons: (
  primary: indigo,
  secundary: blue,
  alert: red,
  normal: white,
);

$background-color-hover: indigo;
$background-color-active: blue;
$background-color-normal: red;

$font-size-hover: 20px;
$font-size-active: 14px;
$font-size-normal: 30px;
